html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
button,
table,
html,
body,
section {
  display: block;
}

body{
  background: #fafaef;
}
textarea {
    resize: none;
    }
table{
  font-size: 16px;
}
.button {
    border: none;
    color: rgba(12, 12, 12, 0.548);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#fbfbfb;
    
}
.button1:hover {
    background-color: #51282a;
    color: white;
  }
.button2:hover {
    background-color: #51282a;
    color: white;
  }
.bottoni{
    position : absolute;
    left : 340px;
}  