body{
    background: #fafaef;
}
textarea {
    resize: none;
}
table{
    font-size: 16px;
}
.ritorna{
    border: none;
    color: rgba(12, 12, 12, 0.548);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#fbfbfb;
}
.button4:hover {
    background-color: #51282a;
    color: white;
  }
.Ritorna{
    top: 10px;
} 